# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg
.env
.venv
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# OS
Thumbs.db
.DS_Store

# Logs
*.log

# Pytest
.cache/

# Local settings
local_settings.py
Saito/
